* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
body {
  font-family: "Work Sans", sans-serif;
}
.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
/* Small */
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
/* Medium */
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
/* Large */
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

.details {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #f6f6f6;
}
.details .contact-content {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
  grid-gap: 30px;
  margin-top: 80px;
}
.details .contact-content .card {
  background-color: white;
  display: grid;
  justify-content: center;
}
.details .contact-content .card .info {
  padding: 20px;
}
.details .contact-content .card .info h3 {
  margin: 0;
}
.details .contact-content .card .info p {
  color: #777;
  line-height: 1.6;
  margin-bottom: 0;
}
.details .contact-content .card .info i {
  color: #d9db51;
}
